.contact-section{
    height: 100vh;
    background-color: var(--heading);
}

.contact-content {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left img {
    height: 20vw;
}

.right {
    width: 40%;
}

.right h4 {
    font-size: 2.5rem;
    color: var(--secondary60);
    margin: 2rem 0;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-input label {
    text-transform: capitalize;
    margin-bottom: .5rem;
    font-weight: bold;
    color: var(--grey30);
}

.form-input input, textarea {
    /* outline: none; */
    padding: .75rem;
    border-radius: 8px;
    border: 1px solid var(--primary100);
    background: transparent;
    font-weight: bold;
    color: var(--grey30);
    font-family: inherit;

}

.form-input input:focus, textarea:focus {
    outline-color: var(--primary100);
}

.form-input textarea {
    height: 8rem;
    resize: none;
    margin-bottom: .5rem;
}

.contact-btn {
    padding: 1rem;
}

@media (max-width: 600px) {
    .contact-content{
        flex-direction: column;
    }

    .left img {
        display: none;
    }

    .right{
        width: 100%;
    }

    .right h4 {
        text-align: center;
    }

    .contact-btn{
        width: 100%;
    }
}