.skills-section {
    height: 100vh;
    background-color: var(--grey10)
}

.skill-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-left img{
    height: 20vw;
}

.tag-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}
.tags {
    margin-top: 4rem;
}
.tags h4 {
    text-align: center;
    font-size: 1.25rem;
}

@media (max-width: 600px) {
    .skill-content{
        flex-direction: column;
        gap: 1rem;
    }

    .skills-left img{
        display: none;
        /* height: 50vw; */
    }

    .tags{
        margin-top: 8rem;
    }
}