.skills-section {
    height: 100vh;
    background-color: var(--grey10)
}

.skill-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-left img{
    height: 30vw;
}

.tag-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

@media (max-width: 600px) {
    .skill-content{
        flex-direction: column;
        gap: 2rem;
    }

    .skills-left img{
        /* display: none; */
        height: 50vw;
    }
}