@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap');

:root {
  --primary50: #bface1;
  --primary70: #9266de;
  --primary100: #5821b8;
  /* --primary100: #a7de47; */
  --primary200: #572f9c;
  --secondary30: #fbfaf4;
  --secondary60: #efebd1;
  --secondary100: #ede196;
  --grey10: #f0f0f0;
  --grey30: #c3c3c3;
  --grey50: #969696;
  --grey70: #696969;
  --grey90: #3c3c3c;
  --grey100: #0f0f0f;
  --heading: #0B0712;

  --secondColor: #a7de47;

}

*{
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary50);
}

::-webkit-scrollbar-thumb{
  background-color: var(--primary100);
  border-radius: 8px;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--grey70);
  background-color: var(--secondary30);
}

.btn{
  cursor: pointer;
  background-color: var(--primary100);
  padding: 8px 18px;
  outline: none;
  border: none; 
  color: var(--grey10);
  text-transform: capitalize;
  border-radius: 1rem;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all .3s ease-in-out;
}
.btn:hover{
  background-color: var(--primary200);
  transform: translateY(-2px);
}

.menu .active {
  color: var(--primary100);
  position: relative;
}

.menu .active::before {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 50%;
  background-color: var(--primary100);
}

.container{
  width: 1150px;
  max-width: 90%;
  margin: auto;
}

.sub-heading {
  color: var(--heading);
  padding-top: 3rem;
  text-align: center;
  position: relative;
}

.sub-heading span {
  color: var(--primary100);
}

.sub-heading .invert{
  color: var(--grey10);
}

/* .sub-heading::before{
  position: absolute;
  content: "what i know";
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primary50);
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 2;
} */


