@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap');

:root {
  --primary50: #bface1;
  --primary70: #997acf;
  --primary100: #5821b8;
  --primary200: #572f9c;
  --secondary30: #fbfaf4;
  --secondary60: #efebd1;
  --secondary100: #d6cc8d;
  --grey10: #f0f0f0;
  --grey30: #c3c3c3;
  --grey50: #969696;
  --grey70: #696969;
  --grey90: #3c3c3c;
  --grey100: #0f0f0f;
  --heading: #0B0712;

}

*{
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--grey70);
  background-color: var(--secondary30);
}

.btn{
  background-color: var(--primary100);
  padding: 8px 18px;
  outline: none;
  border: none; 
  color: var(--grey10);
  border-radius: 1rem;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all .3s;
}
.btn:hover{
  background-color: var(--primary200);
}


