.seeMoreText {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--primary50);
}

.arrow{
    animation: bounce 1s linear infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }